In [3]:
input_string = input("Enter a string value: ")
char_count = {}
for c in input_string:
  if c in char_count:
    char_count[c] += 1
  else:
    char_count[c] = 1
print("Character counts:")
for c, count in char_count.items():
    print(f"{c}={count}", end=', ')

Enter a string value: shibin
Character counts:
s=1, h=1, i=2, b=1, n=1,

In [8]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
max_number = max(num1, num2, num3)
print(max_number)

Enter the first number: 12
Enter the second number: 23
Enter the third number: 31
31

In [13]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
if num1 >= num2 and num1 >= num3:
        max_number = num1
elif num2 >= num1 and num2 >= num3:
        max_number = num2
else:
        max_number = num3
print(max_number)

Enter the first number: 12
Enter the second number: 31
Enter the third number: 23
31

In [14]:
def exponent(base,exp):
  r=base**exp
  return r
b=int(input("enter the base:"))
exp=int(input("enter the exponent :"))
result=exponent(b,exp)
print(result)

enter the base:12
enter the exponent :2
144

In [15]:
def total_cubes(n):
  sum=0
  for i in range(1,n):
    sum=sum+i**3
  return sum
num=int(input("enter a number:-"))
total=total_cubes(num)
print(total)

enter a number:-4
36

In [17]:
for i in range(1,11):
  if (i%2==0 and i%5==0):
    print("FizzBuzz")
  elif (i%2==0 ):
    print("fizz")
  elif(i%5==0):
    print("buzz")
  else:
    print(i)

1
fizz
3
fizz
buzz
fizz
7
fizz
9
FizzBuzz

In [27]:
l=[2,3,4,5,6,4,3,4]
max_count=0
for i in l:
  count = l.count(i)
  if count > max_count:
     most_frequent = i
     max_count = count
print(l)
print(most_frequent)

[2, 3, 4, 5, 6, 4, 3, 4]
4

In [31]:
l= []
x=input("Enter a list of numbers separated by space: ")
x1=x.split(',')
for i in x1:
  l.append(int(i))
print(l)
max_count=0
for i in l:
  count = l.count(i)
  if count > max_count:
     most_frequent = i
     max_count = count
print(most_frequent)

Enter a list of numbers separated by space: 1,2,5,6,2,3,5,5
[1, 2, 5, 6, 2, 3, 5, 5]
[1, 2, 5, 6, 2, 3, 5, 5]
5

In [34]:
l= []
x=input("Enter a list of numbers separated by space: ")
x1=x.split(',')
for i in x1:
  l.append(int(i))
print(l)
sum=0
for i in l:
  sum=sum+i*i
print(sum)

Enter a list of numbers separated by space: 1,2,3,2
[1, 2, 3, 2]
18

In [42]:
l= []
x=input("Enter the start and end numbers separated by space: ")
x1=x.split(',')
for i in x1:
  l.append(int(i))
print(l)
max_count=0
for i in range(l[0],l[1]+1):
  if (i%2==0):
    print(f"{i} :even")
  else:
    print(f"{i} :odd")

Enter the start and end numbers separated by space: 1,15
[1, 15]
1 :odd
2 :even
3 :odd
4 :even
5 :odd
6 :even
7 :odd
8 :even
9 :odd
10 :even
11 :odd
12 :even
13 :odd
14 :even
15 :odd

In [45]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9 / 5) + 32
    return fahrenheit
temp = float(input("Enter the temperature: "))
conversion_type = input("Enter 'F' for Celsius to Fahrenheit, 'C' for Fahrenheit to Celsius: ").upper()
if conversion_type == 'F':
  result = celsius_to_fahrenheit(temp)
  print(f"Temperature in Fahrenheit: {result}")
elif conversion_type == "C":
  result = fahrenheit_to_celsius(temp)
  print(f"Temperature in Celsius: {result}")
else:
  print("Invalid conversion type. Please enter 'C' or 'F'.")

Enter the temperature: 41
Enter 'F' for Celsius to Fahrenheit, 'C' for Fahrenheit to Celsius: f
Temperature in Fahrenheit: 105.8

In [49]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result
number = int(input("Enter a nonnegative integer: "))
if number<0:
   print("Invalid input. Please enter a valid nonnegative integer.")
else:
  result = factorial(number)
  print(f"The factorial of {number} is: {result}")

Enter a nonnegative integer: -9
Invalid input. Please enter a valid nonnegative integer.