In [ ]:
 r = float(input("Enter the radius of the circle: "))
 if r >= 0:
  area = 3.14 * r**2
  print(f"The area of the circle with radius {r} is:",area)
else:
    print("Radius cannot be negative.")

Enter the radius of the circle: 4
The area of the circle with radius 4.0 is: 50.24

In [ ]:
name = input("Enter student name: ")
rno = input("Enter student roll number(1-50): ")

marks = float(input("Enter student marks out of 100: "))

# Display student details
print("\nStudent Details:")
print(f"Name: {name}")
print(f"Roll Number: {rno}")
print(f"Marks: {marks}")

Enter student name: anu
Enter student roll number(1-50): 34
Enter student marks out of 100: 67

Student Details:
Name: anu
Roll Number: 34
Marks: 67.0

In [ ]:
s=input("enter list of numbers seperated by space")
s1=s.split()
l=[]
for x in s1:
  l.append(x)

max_n=l[0]
for n in l[1:]:
  if n>max_n:
    max_n=n
print(f"The largest number in the list is: {max_n}")

enter list of numbers seperated by space1 2 5 4
The largest number in the list is: 5

In [ ]:
sno=1
eno=10
pno=sno
for i in range(sno+1,eno+1):
  sum1=i+pno
  print(f"Sum of current no {i} and previous no {pno} is: ",sum1)
  pno=i

Sum of current no 2 and previous no 1 is:  3
Sum of current no 3 and previous no 2 is:  5
Sum of current no 4 and previous no 3 is:  7
Sum of current no 5 and previous no 4 is:  9
Sum of current no 6 and previous no 5 is:  11
Sum of current no 7 and previous no 6 is:  13
Sum of current no 8 and previous no 7 is:  15
Sum of current no 9 and previous no 8 is:  17
Sum of current no 10 and previous no 9 is:  19

In [ ]:
s=input("enter list of numbers seperated by space")
s1=s.split()
l=[]
for x in s1:
  l.append(int(x))
print("the numbers divisible by 5 are:")
for i in l:
  if i%5==0:
    print(i)

enter list of numbers seperated by space1 3 5 7 8 90
the numbers divisible by 5 are:
5
90

In [ ]:
number = int(input("Enter a number: "))
if number < 2:
        print(f"{number} is not a prime number.")
else:
      is_prime = True
      for i in range(2, int(number**0.5) + 1):
            if number % i == 0:
                is_prime = False
                break

      if is_prime:
            print(f"{number} is a prime number.")
      else:
            print(f"{number} is not a prime number.")

Enter a number: 7
7 is a prime number.

In [ ]:
l = input("Enter a list of elements separated by space: ").split()
l
olist=[]
for x in l:
  olist.append(int(x))
rlist = []
for i in range(len(olist) - 1, -1, -1):
    rlist.append(olist[i])
print(f"Original List: {olist}")
print(f"Reversed List: {rlist}")

Enter a list of elements separated by space: 1  3 7 2
Original List: [1, 3, 7, 2]
Reversed List: [2, 7, 3, 1]

In [ ]:
nrows = 4

for i in range(1, nrows + 1):
    print('*' * i)

*
**
***
****

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

    # Find the maximum among the three numbers
    max_num = max(num1, num2, num3)

    # Display the result
    print(f"The maximum of {num1}, {num2}, and {num3} is: {max_number}")
except ValueError:
    print("Invalid input. Please enter valid numbers.")

In [5]:
nrows = 5

for i in range(1, nrows + 1):
    print('*' * i)
for i in range(nrows-1,0,-1):
  print('*'*i)

*
**
***
****
*****
****
***
**
*

In [10]:
num_rows = 5

# Nested loop to construct the pattern
for i in range(1, num_rows + 1):
    for j in range(i):
        print('*', end=' ')
    print()
for i in range(num_rows-1,0,-1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*